@model IEnumerable<CadastroProfessor.Models.Professor>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="CriarProfessor" class="btn btn-success">Criar novo Professor</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Nome)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Cpf)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Disciplina)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Nome)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Cpf)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Disciplina)
				</td>
				<td>
					
				</td>
			</tr>
		}
	</tbody>
</table>